.nav-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: indigo;
  cursor: pointer;
}

.page-item {
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
  color: #101115;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.github {
  height: 36px;
  width: 36px;
  line-height: 36px;
  transition: all 0.3s ease;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #0f9d58;
  color: #fff;
}

#log-in:hover {
  color: rgb(20, 9, 175);
  font-size: 18px;
}

.lab-btn {
  background-color: rgb(1, 25, 243) !important;
  color: white !important;
  border: none !important;
}

.btn-sp {
  color: white !important;
}

#lab-alu li a:hover {
  color: rgb(20, 9, 175) !important;
}
#windows-ic {
  background-color: rgb(227, 228, 235) !important;
}

#windows-ic:hover {
  background-color: rgb(1, 25, 243) !important;
}

#sub1 {
  color: white !important;
}

#lab-oll li:hover {
  background-color: rgb(1, 25, 243) !important;
}
